<% content_tag :div,:style => 'border:1px solid;padding:10px;height:auto;margin-bottom:5px' do %>
  <h2><%=h @topic.title %></h2>
<%= link_to 'Edit', edit_topic_path(@topic) if current_user %> 
<p>
  <%=h @topic.body_text %>
</p>
  <div style='float:right;padding-top:5px'><%= @topic.created_at.strftime("writed at %m/%d/%Y") %></div>
<br /><br />
<hr />
<div id='comments'>
  <h3>comments:</h3>
  <%@comments.each do |comment|%>
    <p>
      <p><%= @level -= 1  %>. &nbsp; <b><%= comment.user.username %></b>(<%= comment.created_at.strftime("%Y-%m-%d") %>): </p>
      <p style='padding-left:5px'><%=h comment.body_text%></p>
    </p>
  <%end%>
</div>
<div id='comment'>
  <%form_for @comment,:url => topic_comments_path(:topic_id => @topic) do |f|%>
    <p>
      <b>new comment:</b>
      <p>
        <% f.fields_for :body,@comment do |b| %>
          <%= b.text_area :body %>
        <%end%>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :parent_type %>
      </p>
      <%=f.submit%>
    </p>
  <%end%>
</div>

<% end %>
